extends layouts/main-layout.pug

block content
        h3 Hello World!!!
        h4 Add User 
        form(action="/add-user" method="POST")
            input(type="text", name="username")
            button(type="submit") Add User