<h3>Hell World!!!</h3>
    <h4>{{ pageTitle }}</h4>
    <form action="/add-user" method="POST">
        <input type="text" name="username">
        <button type="submit">Add User</button>
    </form>